.icon-container,
.icon-container svg {
    width: auto;
    height: calc(100% - 2em);
}

.icon-label {
    font-weight: bold;
    font-size: 2em;
}
.icon-title {
    font-weight: bold;
    font-size: 4em;
}

md-card {
    outline: none;
    margin-bottom: 0;

    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2), 0px 0px 1px 0px rgba(0, 0, 0, 0.14), 0px 0px 1px 0px rgba(0, 0, 0, 0.12);
}
md-card.active {

}
md-card:not(.active) {
    box-shadow: none;
    background: transparent;
}

.indicators {
    height: calc(100% - 208px);
    margin-top: 0;
}

md-icon,
.material-icons {
    width: 20px;
    height: 20px;
    min-height: 20px;
    min-width: 20px;
    font-size: 1em;
    cursor: pointer;
}

.improvement-item img {
    height: 100px;
    width: 100px;
}
.improvement-description {
    text-align: center;
}

md-grid-list {
    overflow: auto;
}